main {
	display: flow-root;
	max-width: 180mm;
	margin: 0 auto;
}

.section {
	margin-block: 1.5rem;
	break-inside: avoid-page;
	page-break-inside: avoid;
}

.section-title {
	margin-block: 0 0.83em;
	break-after: avoid-page;
	page-break-after: avoid;
}

.keep-together {
	break-inside: avoid-page;
	page-break-inside: avoid;
}

.experience-item,
.project-item {
	margin-block: 1rem;
}

.stack {
	margin-block: 0.75rem;
}

.page-break-before {
	break-before: page;
	page-break-before: always;
}

@media print {
	.rich-text li {
		break-inside: avoid-page;
		page-break-inside: avoid;
	}
}
